body {
    /* background-image: url(assests/images/body_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: dimgrey;
}

header {
    box-shadow: rgb(255 255 255 / 55%) 0px -5px 16px, rgb(255 255 255 / 0%) 0px 1px 0px inset;
}


.tab p {
    color: #9eafbd;
}

.active-tab p {
    color: white;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}


.tab {
    border-bottom-color: transparent;
}

.tab .tab-text {
    color: #9eafbd;
}

.active-tab {
    border-bottom-color: #c9dcec !important;
}

.active-tab .tab-text {
    color: white !important;
}

